node_modules

.env

# logs
mpm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-debug.log*

# build
dist/
build/

# os
.DS_Store
Thumbs.db
Thumbs.db

# editor
.vscode/
.idea/
.cursor/
.cursorrules
.cursorignore
.cursorignorerules










